@model TakipProje.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card mb-4">
        <h5 class="card-header">Profile Details</h5>
        <!-- Account -->
        <hr class="my-0">
        <div class="card-body">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-6" })

                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                            <input class="form-control" type="text" id="AdSoyad" name="AdSoyad" value="" autofocus="">
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.PersonelGörseli, htmlAttributes: new { @class = "control-label col-md-6" })

                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-image"></i></span>
                            <input class="form-control" type="text" id="PersonelGörseli" name="PersonelGörseli" value="">
                        </div>
                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-mail-send"></i></span>
                            <input class="form-control" type="email" name="Eposta" id="Eposta" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Departman, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-building"></i></span>
                            <select name="Departman" class="form-control" required>
                                <option value="Select">Select</option>
                                <option value="Software">Software</option>
                                <option value="Sales">Sales</option>
                                <option value="Management">Management</option>
                                <option value="Production">Production</option>
                                <option value="Purchase">Purchase</option>
                                <option value="Quality">Quality</option>
                                <option value="Accounting">Accounting</option>
                                <option value="HR">HR</option>
                                <option value="Business Development">Business Development</option>
                            </select>
                        </div>

                    </div>

                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Gorev, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-alarm"></i></span>
                            <select name="Gorev" class="form-control" required>
                                <option value="Select">Select</option>
                                <option value="Backend Developer">Backend Developer</option>
                                <option value="Frontend Developer">Frontend Developer</option>
                                <option value="Fullstack Developer">Fullstack Developer</option>
                                <option value="IT Specialist">IT Specialist</option>
                                <option value="Software Team Leader">Software Team Leader</option>
                                <option value="Project Manager">Project Manager</option>
                                <option value="General Manager">General Manager</option>
                                <option value="Assistant General Manager">Assistant General Manager</option>
                                <option value="CEO">CEO</option>
                                <option value="Factory Manager">Factory Manager</option>
                                <option value="Management Representative">Management Representative</option>
                                <option value="Export Specialist">Export Specialist</option>
                                <option value="Purchasing Staff">Purchasing Staff</option>
                                <option value="Quality Staff">Quality Staff</option>
                                <option value="Accounting Staff">Accounting Staff</option>
                                <option value="HR Staff">HR Staff</option>
                                <option value="Business Development Staff">Business Development Staff</option>

                            </select>
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.TCNO, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-id-card"></i></span>
                            <input type="text" class="form-control" id="TCNO" name="TCNO" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Yetki, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-captions"></i></span>
                            <select name="Yetki" class="form-control" required>
                                <option value="Select">Select</option>
                                <option value="Senior Management">Senior Management</option>
                                <option value="Management">Management</option>
                                <option value="Normal">Normal</option>


                            </select>
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.TelNo, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-phone"></i></span>
                            <input type="text" class="form-control" id="TelNo" name="TelNo" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-map"></i></span>
                            <input type="text" class="form-control" id="Adres" name="Adres" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.DogumTarihi, htmlAttributes: new { @class = "control-label col-md-6" })
                        <input type="datetime-local" class="form-control" id="DogumTarihi" name="DogumTarihi" value="">
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.IseGirisTarihi, htmlAttributes: new { @class = "control-label col-md-6" })
                        <input type="datetime-local" class="form-control" id="IseGirisTarihi" name="IseGirisTarihi" value="">
                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.MedeniHal, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-select-multiple"></i></span>
                            <select name="MedeniHal" class="form-control" required>
                                <option value="Select">Select</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                            </select>
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-paste"></i></span>
                            <input type="password" class="form-control" id="Sifre" name="Sifre" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.PozisyonAciklama, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-comment"></i></span>
                            <input type="text" class="form-control" id="PozisyonAciklama" name="PozisyonAciklama" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinBilgisi, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-comment"></i></span>
                            <select name="YakinBilgisi" class="form-control" required>
                                <option value="Select">Select</option>
                                <option value="Wife">Wife</option>
                                <option value="Husband">Husband</option>
                                <option value="Father">Father</option>
                                <option value="Mother">Mother</option>
                                <option value="Brother">Brother</option>
                                <option value="Sister">Sister</option>
                                <option value="Child">Child</option>
                                
                            </select>
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinAdSoyad, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user-circle"></i></span>
                            <input type="text" class="form-control" id="YakinAdSoyad" name="YakinAdSoyad" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinTC, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-id-card"></i></span>
                            <input type="text" class="form-control" id="YakinTC" name="YakinTC" value="">
                        </div>

                    </div>
                    <div class="mb-3 col-md-6">
                        @Html.LabelFor(model => model.YakinTel, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-phone"></i></span>
                            <input type="text" class="form-control" id="YakinTel" name="YakinTel" value="">
                        </div>

                    </div>
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Add Employee</button>
                    <a href="/PersonelBilgileris/Index/" class="btn btn-outline-secondary">Back to Homepage</a>
                </div>
            </form>
        </div>
        <!-- /Account -->
    </div>
</div>
}


   

    
   



