@model TakipProje.Models.Personel.PersonelBilgileri

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Profile Details</h5>
            <!-- Account -->
      
            <hr class="my-0">
            <div class="card-body">
                <form id="formAccountSettings" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">NAME SURNAME: </label>
                            @Html.DisplayFor(model => model.AdSoyad)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">DEPARTMANT: </label>
                            @Html.DisplayFor(model => model.Departman)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">JOB: </label>
                            @Html.DisplayFor(model => model.Gorev)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">EMAIL: </label>
                            @Html.DisplayFor(model => model.Eposta)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">PHONE NUMBER: </label>
                            @Html.DisplayFor(model => model.TelNo)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">AUTHORITY</label>
                            @Html.DisplayFor(model => model.Yetki)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">IDENTITY NUMBER</label>
                            @Html.DisplayFor(model => model.TCNO)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">DATE OF BIRTH:</label>
                            @Html.DisplayFor(model => model.DogumTarihi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">ADRES:</label>
                            @Html.DisplayFor(model => model.Adres)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">START DATE OF WORK:</label>
                            @Html.DisplayFor(model => model.IseGirisTarihi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">MARITAL STATUS:</label>
                            @Html.DisplayFor(model => model.MedeniHal)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">JOB DESCRIPTION:</label>
                            @Html.DisplayFor(model => model.PozisyonAciklama)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">FAMILY RELATIVE INFORMATION:</label>
                            @Html.DisplayFor(model => model.YakinBilgisi)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">FAMILY RELATIVE NAME SURNAME:</label>
                            @Html.DisplayFor(model => model.YakinAdSoyad)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">FAMILY RELATIVE IDENTITY NUMBER:</label>
                            @Html.DisplayFor(model => model.YakinTC)
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">FAMILY RELATIVE PHONE NUMBER:</label>
                            @Html.DisplayFor(model => model.YakinTel)
                        </div>
                      

    
                    </div>
                    <div class="mt-2">
                        <a href="/PersonelBilgileris/Index/" type="submit" class="btn btn-primary me-2">Back to Homepage</a>
                       
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
    
    </div>
</div>

